################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/offline-data-collection/v16/.suo
/.vs/offline-data-collection/config/applicationhost.config
/.vs/slnx.sqlite
